body {
	/*background: linear-gradient(to bottom, #FEF6DC, white);
	color: #EA8716;*/
}

.navbar,.navbar-default {
	border:none;
	background: white;
	box-shadow: none;
}

a {
	color: #EA8716;
}

a:hover {
	color: #B66B15;
}

a:focus {
	color: #B66B15;
}

.logo {
	padding: 0px;
	padding-left: 10px;
}

.banniere {
	margin: auto;
	padding: 0px;
	max-width: 80%;
	text-align: center;
	border: none;
}

.panel-body {
	padding: 0px;
	border: none;
}

.imgBanniere {
	max-width: 100%;
}

.navbar {
	max-width: 90%;
	margin: auto;
	height: 60px;
}


.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #EA8716;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #B66B15;
}

.containerNavbar {
	padding: 0px;
	width: 100%;
}

.container {
	width: 80%;
	background-color: #F2EFEA;
}

footer {
	width: 80%;
	margin: auto;
	text-align: center;
	background-color: #CDC4B3;
}

.nextExo{
	top:4px;
}

.arrow_box {
	position: relative;
	background: #FEFDE4;
	border: 4px solid #FEB351;
	padding: 5px;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #FEFDE4;
	border-width: 20px;
	margin-top: -20px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #FEB351;
	border-width: 26px;
	margin-top: -26px;
}